h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;

  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }
  @media screen and (max-width: 576px) {
    --container-padding-inline: 15px;
    --footer-padding-inline: 15px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-color);
  span {
    position: relative;
  }
  span::after {
    content: "";
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: -1px;
    right: 0;
    width: 75px;
    height: 2px;
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    & {
      font-size: 36px;
    }
  }
  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url(../img/main_bg.jpg) center center / cover no-repeat;
  padding-top: 75px;
  @media screen and (max-width: 768px) {
    background-image: url(../img/tablet_bg.jpg);
  }
  @media screen and (max-width: 576px) {
    background: url(../img/Bg\ \(2\).jpg) center center / cover no-repeat;
    min-height: 500px;
    padding-top: 50px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--light-color);
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
  @media screen and (max-width: 576px) {
    font-size: 26px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  font-weight: 100;
  font-size: 32px;
  color: var(--light-color);
  line-height: normal;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 576px) {
    font-size: 16px;
    margin-top: 30px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  padding: 3px 10px;
  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color);
  background: rgba(217, 217, 217, 0);
  font-weight: 100;
  font-size: 16px;
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  @media screen and (max-width: 576px) {
    font-size: 14px;
    width: 120px;
    min-height: 30px;
  }
}

.btn:hover {
  font-weight: 500;
  box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}

.promo__address {
  position: relative;
  margin-top: 100px;
  font-family: var(--font-family);
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  color: var(--light-color);
  address {
    font-style: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    left: -45px;
    top: -17px;
    width: 40px;
    height: 49px;
    background: url(../img/icons/arrow.svg) center center / cover no-repeat;
  }
  @media screen and (max-width: 1440px) {
    padding-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 80px;
    &::before {
      left: -40px;
    }
  }
  @media screen and (max-width: 750px) {
    &::before {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 233px;
  }
}

.keywords {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  padding: 0 360px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  li {
    list-style: none;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 10px;
    color: var(--light-color);
  }
  @media screen and (max-width: 1440px) {
    padding: 0 20px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    & li:nth-last-child(-n + 6) {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    & {
      margin-top: 10px;
    }
    & li:nth-last-child(-n + 11) {
      display: none;
    }
  }
}

.about {
  padding-top: 80px;
  background-color: var(--light-color);
}

.about__title {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-color);
}

.about__text {
  width: 1100px;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-color);
  span {
    color: #a5a5a5;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.services {
  display: flex;
  margin-top: 80px;
  column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
    row-gap: 40px;
  }
}

.services__items {
  width: 50%;
  ul {
    margin-top: 20px;
    padding: 0;
  }
  li {
    position: relative;
    margin-top: 10px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-color);
    &:first-child::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      width: 15px;
      height: 15px;
      background: url("/img/icons/camera.svg") center center / cover no-repeat;
      left: -30px;
    }
    &:nth-child(3)::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      width: 15px;
      height: 15px;
      background: url("/img/icons/edit.svg") center center / cover no-repeat;
      left: -30px;
    }
  }
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }
}

.services__item-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
}

.services__text {
  width: 50%;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
@media screen and (max-width: 768px) {
  .services__text {
    width: 100%;
  }
}

.works {
  padding-top: 80px;
  background-color: var(--light-color);
}
@media screen and (max-width: 768px) {
  & {
    padding-top: 50px;
  }
}

.works__grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1.5fr;
  row-gap: 50px;
  column-gap: 30px;

  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 768px) {
    & {
      margin-top: 40px;
      row-gap: 30px;
      column-gap: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 1.5fr;
    row-gap: 30px;
    column-gap: 0px;
  }
}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color);
}

.inspiration__grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
  grid-auto-flow: dense;
  .tenement {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .sky {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  img {
    object-fit: cover;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 30px;
    .tenement {
      grid-column: auto;
      grid-row: 2/4;
    }
    .sky {
      grid-column: 1/3;
      grid-row: 4/5;
    }
    .inspiration_bridge {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .inspiration-cat {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    .tenement,
    .sky,
    .inspiration_bridge,
    .inspiration-cat {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.customers {
  padding: 80px 0 100px;
  background-color: var(--light-color);
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}

.customers .title {
  margin-top: 50px;
}

.customers__img {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  img {
    width: calc((100% - 90px) / 4);
    box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 768px) {
    & {
      margin-top: 40px;
      gap: 20px;
    }
    img {
      width: calc((100% - 60px) / 4);
    }
  }
  @media screen and (max-width: 576px) {
    img {
      width: calc((100% - 36px) / 2);
      margin-top: 30px;
      column-gap: 36px;
      row-gap: 20px;
      justify-content: space-between;
    }
  }
}

.footer {
  width: 100%;
  padding: 88px 0;
  min-height: 200px;
  background: #000;
}
@media screen and (max-width: 768px) {
  .footer {
    row-gap: 30px;
    padding: 30px 0 40px 0;
  }
  @media screen and (max-width: 576px) {
    .footer {
      row-gap: 30px;
      padding: 30px 0 40px 0;
    }
  }
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    padding-left: 46px;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    align-items: center;
    padding-left: 0;
    justify-self: center;
  }
}

.logo__footer {
  display: flex;
  column-gap: 30px;
  img {
    border: 1px solid var(--light-color);
    width: 32px;
    height: 32px;
    background: rgba(217, 217, 217, 0);
    object-fit: contain;
    box-sizing: border-box;
  }
}

.footer__address address {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
}
@media screen and (max-width: 576px) {
  .footer__address {
    order: 2;
  }
}

.footer__phone {
  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
  a {
    color: inherit;
    text-decoration: none;
  }
}
